* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
}
